-# app/views/blogs/show.html.haml

%h1= @blog.title

- if @blog_post.blank?
  %p= I18n.t('blog.empty')
- else
  = render :partial => 'blog_posts/show/post', :locals => { :blog_post => @blog_post, :blog_post_presenter => @blog_post_presenter }
