-# app/views/shared/_breadcrumbs.html.haml

- unless @breadcrumbs.blank?
  %nav.breadcrumbs
    - @breadcrumbs.each_with_index do |(name, path), index|
      - if path.blank?
        = link_to name, '#', :class => (index == @breadcrumbs.length - 1) ? 'current' : 'unavailable'
      - else
        = link_to name, path
