%nav
  %ul.small-block-grid-4.large-block-grid-1
    %li
      = link_to :root do
        %h4 Home
    %li
      = link_to :root do
        %h4 Articles
    %li
      = link_to :root do
        %h4 Blog
    %li
      = link_to :root do
        %h4 About
  %hr
