-# app/views/pages/index.html.haml

%section.row
  .small-12.columns
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut laoreet sapien. Praesent vel arcu at tellus tincidunt interdum. Nam id dui tincidunt, elementum nibh ut, malesuada tortor. Suspendisse dapibus quis dolor ultrices molestie. Maecenas sit amet libero nec mauris mattis commodo vitae iaculis sem. Morbi in dui elit. Donec nibh felis, laoreet id laoreet nec, ultrices a ipsum. Pellentesque non fringilla libero, vitae pretium tortor. Pellentesque vehicula sapien auctor, aliquet lorem ut, laoreet lacus. Quisque congue nunc vel turpis tempus, venenatis malesuada mauris volutpat. Proin faucibus auctor arcu, malesuada porta ligula scelerisque et.
