// app/asset/stylesheets/application.scss

@import "foundation_and_overrides";
@import "foundation/components/visibility";
@import "admin/blogs";

$header-font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

.hide {
  display: none;
}

/**********************
 ** HEADER AND TITLE **
 **********************/

body > header {
  h1 {
    margin-bottom: rem-calc(5);
    text-align: center;
    // Font Styles
    font-family: $header-font-family;
  }
}

/****************************
 ** TOP/SIDEBAR NAVIGATION **
 ****************************/

#sidebar nav {
  ul > li {
    padding-bottom: 0px;

    text-align: center;
  }

  & > hr { margin-top: 0px; }
}

@media #{$large-up} {
  #sidebar nav {
    ul > li { text-align: left; }

    & > hr { margin-top: rem-calc(20); }
  }
}

/**************
 ** HEADINGS **
 **************/

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

/*********************
 ** TEXT DECORATION **
 *********************/

hr {
  border-top: 2px solid #333;

  &:after {
    content: ' ';
    // Display
    display: block;
    border-top: 1px solid #666;
    margin: 0 10px;
    // Positioning
    position: relative;
    top: 2px;
  }
}

p, span {
  &.alert {
    color: #ea2f10;
  }
}

/***********
 ** FORMS **
 ***********/

.button {
  &.thin {
    padding: 0.5rem 1.25rem;
  }
}



@media #{$large-up} {
  .heading-buttons {
    margin-top: 0.25rem;
    text-align: right;

    &.tall {
      margin-top: 0.5rem;
    }
  }
}

form.new_user {
  margin-top: rem-calc(20);
}

/************
 ** TABLES **
 ************/

table {
  &.full-width {
    width: 100%;
  }

  td.action-icon {
    padding-left: 0;
    padding-right: 0;
    text-align: center;

    a {
      // Display
      display: block;
      height: 0px;
      // Positioning
      position: relative;
      top: -0.75rem;
      // Typography
      font-size: 1.5rem;
    }
  }
}
