// app/asset/stylesheets/application.scss

@import "foundation_and_overrides";
@import "foundation/components/visibility";
@import "admin/blogs";

$header-font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

$font-color-dark-black: #000000;
$font-color-black:      #222222;
$font-color-green:      #43ac6a;
$font-color-orange:     #ea2f10;

.hide {
  display: none;
}

/**********************
 ** HEADER AND TITLE **
 **********************/

body > header {
  .site-title {
    margin-bottom: 0px;
    // Font Styles
    font-family: Riesling, $header-font-family;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    a {
      color: $font-color-black;

      &:hover { color: $font-color-dark-black; }
    }
  }
}

/****************************
 ** TOP/SIDEBAR NAVIGATION **
 ****************************/

#sidebar hr:first-child { margin-top: 0px; }

#sidebar nav {
  ul > li {
    margin-top: rem-calc(10);
    padding-bottom: 0px;

    font-family: $header-font-family;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;

    &:first-child { margin-top: 0px; }

    a {
      color: $font-color-black;

      &:hover { color: $font-color-dark-black; }
    }
  }

  & > hr { margin-top: rem-calc(10); }
}

@media #{$large-up} {
  #sidebar nav {
    ul > li { text-align: left; }

    & > hr { margin-top: rem-calc(20); }
  }
}

/******************
 ** CONTENT AREA **
 ******************/

#content-area hr:first-child { margin-top: 0px; }

/**************
 ** HEADINGS **
 **************/

h1, h2, h3, h4, h5, h6, fieldset legend {
  font-family: $header-font-family;
}

/*********************
 ** TEXT DECORATION **
 *********************/

hr {
  border-top: 2px solid #333;

  &:after {
    content: ' ';
    // Display
    display: block;
    border-top: 1px solid #666;
    margin: 0 10px;
    // Positioning
    position: relative;
    top: 2px;
  }
}

p, span, i {
  &.alert {
    color: $font-color-orange;
  }

  &.success {
    color: $font-color-green;
  }
}

/***********
 ** FORMS **
 ***********/

.button {
  &.thin {
    padding: 0.5rem 1.25rem;
  }
}

@media #{$large-up} {
  .heading-buttons {
    margin-top: 0.25rem;
    text-align: right;

    &.tall {
      margin-top: 0.5rem;
    }
  }
}

form.new_user {
  margin-top: rem-calc(20);
}

/************
 ** TABLES **
 ************/

table {
  &.full-width {
    width: 100%;
  }

  td.action-icon {
    padding-left: 0;
    padding-right: 0;
    text-align: center;

    a {
      // Display
      display: block;
      height: 0px;
      // Positioning
      position: relative;
      top: -0.75rem;
      // Typography
      font-size: 1.5rem;
    }
  }
}
